<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>고린도후서 5:17</string>
		<key>name</key>
		<string>새로운 삶 : 중심되신 그리스도 1</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>고린도후서</string>
				<key>verse</key>
				<integer>17</integer>
				<key>chapter</key>
				<integer>5</integer>
				<key>text</key>
				<string>그런즉 누구든지 그리스도 안에 있으면 새로운 피조물이라 이전 것은 지나갔으니 보라 새 것이 되었도다</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>갈라디아서 2:20</string>
		<key>name</key>
		<string>새로운 삶 : 중심되신 그리스도 2</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>갈라디아서</string>
				<key>verse</key>
				<integer>2</integer>
				<key>chapter</key>
				<integer>20</integer>
				<key>text</key>
				<string>내가 그리스도와 함께 십자가에 못 박혔나니 그런즉 이제는 내가 사는 것이 아니요 오직 내 안에 그리스도께서 사시는 것이라 이제 내가 육체 가운데 사는 것은 나를 사랑하사 나를 위하여 자기 자신을 버리신 하나님의 아들을 믿는 믿음 안에서 사는 것이라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>로마서 12:1</string>
		<key>name</key>
		<string>새로운 삶 : 그리스도께 순종 1</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>로마서</string>
				<key>verse</key>
				<integer>1</integer>
				<key>chapter</key>
				<integer>12</integer>
				<key>text</key>
				<string>그러므로 형제들아 내가 하나님의 모든 자비하심으로 너희를 권하노니 너희 몸을 하나님이 기뻐하시는 거룩한 산 제물로 드리라 이는 너희가 드릴 영적 예배니라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>요한복음 14:21</string>
		<key>name</key>
		<string>새로운 삶 : 그리스도께 순종 2</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>요한복음</string>
				<key>verse</key>
				<integer>21</integer>
				<key>chapter</key>
				<integer>14</integer>
				<key>text</key>
				<string>나의 계명을 지키는 자라야 나를 사랑하는 자니 나를 사랑하는 자는 내 아버지께 사랑을 받을 것이요 나도 그를 사랑하여 그에게 나를 나타내리라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>디모데후서 3:16</string>
		<key>name</key>
		<string>새로운 삶 : 말씀 1</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>디모데후서</string>
				<key>verse</key>
				<integer>16</integer>
				<key>chapter</key>
				<integer>3</integer>
				<key>text</key>
				<string>모든 성경은 하나님의 감동으로 된 것으로 교훈과 책망과 바르게 함과 의로 교육하기에 유익하니</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>여호수아 1:8</string>
		<key>name</key>
		<string>새로운 삶 : 말씀 2</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>여호수아</string>
				<key>verse</key>
				<integer>8</integer>
				<key>chapter</key>
				<integer>1</integer>
				<key>text</key>
				<string>이 율법책을 네 입에서 떠나지 말게 하며 주야로 그것을 묵상하여 그 안에 기록된 대로 다 지켜 행하라 그리하면 네 길이 평탄하게 될 것이며 네가 형통하리라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>요한복음 15:7</string>
		<key>name</key>
		<string>새로운 삶 : 기도 1</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>요한복음</string>
				<key>verse</key>
				<integer>7</integer>
				<key>chapter</key>
				<integer>15</integer>
				<key>text</key>
				<string>너희가 내 안에 거하고 내 말이 너희 안에 거하면 무엇이든지 원하는 대로 구하라 그리하면 이루리라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>빌립보서 4:6~7</string>
		<key>name</key>
		<string>새로운 삶 : 기도 2</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>빌립보서</string>
				<key>verse</key>
				<integer>6</integer>
				<key>chapter</key>
				<integer>4</integer>
				<key>text</key>
				<string>아무 것도 염려하지 말고 다만 모든 일에 기도와 간구로, 너희 구할 것을 감사함으로 하나님께 아뢰라</string>
			</dict>
			<dict>
				<key>book</key>
				<string>빌립보서</string>
				<key>verse</key>
				<integer>7</integer>
				<key>chapter</key>
				<integer>4</integer>
				<key>text</key>
				<string>그리하면 모든 지각에 뛰어난 하나님의 평강이 그리스도 예수 안에서 너희 마음과 생각을 지키시리라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>마태복음 18:20</string>
		<key>name</key>
		<string>새로운 삶 : 교제 1</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>마태복음</string>
				<key>verse</key>
				<integer>20</integer>
				<key>chapter</key>
				<integer>18</integer>
				<key>text</key>
				<string>두세 사람이 내 이름으로 모인 곳에는 나도 그들 중에 있느니라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>히브리서 10:24~25</string>
		<key>name</key>
		<string>새로운 삶 : 교제 2</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>히브리서</string>
				<key>verse</key>
				<integer>25</integer>
				<key>chapter</key>
				<integer>10</integer>
				<key>text</key>
				<string>서로 돌아보아 사랑과 선행을 격려하며</string>
			</dict>
			<dict>
				<key>book</key>
				<string>히브리서</string>
				<key>verse</key>
				<integer>26</integer>
				<key>chapter</key>
				<integer>10</integer>
				<key>text</key>
				<string>모이기를 폐하는 어떤 사람들의 습관과 같이 하지 말고 오직 권하여 그 날이 가까움을 볼수록 더욱 그리하자</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>마태복음 4:19</string>
		<key>name</key>
		<string>새로운 삶 : 증거 1</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>마태복음</string>
				<key>verse</key>
				<integer>19</integer>
				<key>chapter</key>
				<integer>4</integer>
				<key>text</key>
				<string>말씀하시되 나를 따라오라 내가 너희를 사람을 낚는 어부가 되게 하리라 하시니</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>로마서 1:16</string>
		<key>name</key>
		<string>새로운 삶 : 증거 2</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>로마서</string>
				<key>verse</key>
				<integer>16</integer>
				<key>chapter</key>
				<integer>1</integer>
				<key>text</key>
				<string>내가 복음을 부끄러워하지 아니하노니 이 복음은 모든 믿는 자에게 구원을 주시는 하나님의 능력이 됨이라 먼저는 유대인에게요 그리고 헬라인에게로다 </string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>로마서 3:23</string>
		<key>name</key>
		<string>그리스도를 전파함 : 모든 사람이 죄를 범함 1</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>로마서</string>
				<key>verse</key>
				<integer>23</integer>
				<key>chapter</key>
				<integer>3</integer>
				<key>text</key>
				<string>모든 사람이 죄를 범하였으매 하나님의 영광에 이르지 못하더니</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>이사야 53:6</string>
		<key>name</key>
		<string>그리스도를 전파함 : 모든 사람이 죄를 범함 2</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>이사야</string>
				<key>verse</key>
				<integer>6</integer>
				<key>chapter</key>
				<integer>53</integer>
				<key>text</key>
				<string>우리는 다 양 같아서 그릇 행하여 각기 제 길로 갔거늘 여호와께서는 우리 모두의 죄악을 그에게 담당시키셨도다</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>로마서 6:23</string>
		<key>name</key>
		<string>그리스도를 전파함 : 죄의 형벌 1</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>로마서</string>
				<key>verse</key>
				<integer>23</integer>
				<key>chapter</key>
				<integer>6</integer>
				<key>text</key>
				<string>죄의 삯은 사망이요 하나님의 은사는 그리스도 예수 우리 주 안에 있는 영생이니라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>히브리서 9:27</string>
		<key>name</key>
		<string>그리스도를 전파함 : 죄의 형벌 2</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>히브리서</string>
				<key>verse</key>
				<integer>27</integer>
				<key>chapter</key>
				<integer>9</integer>
				<key>text</key>
				<string>한번 죽는 것은 사람에게 정해진 것이요 그 후에는 심판이 있으리니</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>고린도전서 3:16</string>
		<key>name</key>
		<string>하나님을 의뢰함 : 성령 1</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>고린도전서</string>
				<key>verse</key>
				<integer>16</integer>
				<key>chapter</key>
				<integer>3</integer>
				<key>text</key>
				<string>너희는 너희가 하나님의 성전인 것과 하나님의 성령이 너희 안에 계시는 것을 알지 못하느냐</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>고린도전서 2:12</string>
		<key>name</key>
		<string>하나님을 의뢰함 : 성령 2</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>고린도전서</string>
				<key>verse</key>
				<integer>12</integer>
				<key>chapter</key>
				<integer>2</integer>
				<key>text</key>
				<string>우리가 세상의 영을 받지 아니하고 오직 하나님으로부터 온 영을 받았으니 이는 우리로 하여금 하나님께서 우리에게 은혜로 주신 것들을 알게 하려 하심이라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>이사야 41:10</string>
		<key>name</key>
		<string>하나님을 의뢰함 : 능력 1</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>이사야</string>
				<key>verse</key>
				<integer>41</integer>
				<key>chapter</key>
				<integer>10</integer>
				<key>text</key>
				<string>두려워하지 말라 내가 너와 함께 함이라 놀라지 말라 나는 네 하나님이 됨이라 내가 너를 굳세게 하리라 참으로 너를 도와 주리라 참으로 나의 의로운 오른손으로 너를 붙들리라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>빌립보서 4:13</string>
		<key>name</key>
		<string>하나님을 의뢰함 : 능력 2</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>빌립보서</string>
				<key>verse</key>
				<integer>13</integer>
				<key>chapter</key>
				<integer>4</integer>
				<key>text</key>
				<string>내게 능력 주시는 자 안에서 내가 모든 것을 할 수 있느니라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>마태복음 6:33</string>
		<key>name</key>
		<string>그리스도 제자의 자격 : 그리스도를 첫자리에 모심 1</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>마태복음</string>
				<key>verse</key>
				<integer>33</integer>
				<key>chapter</key>
				<integer>6</integer>
				<key>text</key>
				<string>그런즉 너희는 먼저 그의 나라와 그의 의를 구하라 그리하면 이 모든 것을 너희에게 더하시리라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>누가복음 9:23</string>
		<key>name</key>
		<string>그리스도 제자의 자격 : 그리스도를 첫자리에 모심 2</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>누가복음</string>
				<key>verse</key>
				<integer>9</integer>
				<key>chapter</key>
				<integer>23</integer>
				<key>text</key>
				<string>또 무리에게 이르시되 아무든지 나를 따라오려거든 자기를 부인하고 날마다 제 십자가를 지고 나를 따를 것이니라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>요한일서 2:15~16</string>
		<key>name</key>
		<string>그리스도 제자의 자격 : 죄에서 떠남</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>요한일서</string>
				<key>verse</key>
				<integer>15</integer>
				<key>chapter</key>
				<integer>5</integer>
				<key>text</key>
				<string>이 세상이나 세상에 있는 것들을 사랑하지 말라 누구든지 세상을 사랑하면 아버지의 사랑이 그 안에 있지 아니하니</string>
			</dict>
			<dict>
				<key>book</key>
				<string>요한일서</string>
				<key>verse</key>
				<integer>16</integer>
				<key>chapter</key>
				<integer>5</integer>
				<key>text</key>
				<string>이는 세상에 있는 모든 것이 육신의 정욕과 안목의 정욕과 이생의 자랑이니 다 아버지께로부터 온 것이 아니요 세상으로부터 온 것이라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>시편 23:1~6</string>
		<key>name</key>
		<string>나의 목자</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>시편</string>
				<key>verse</key>
				<integer>1</integer>
				<key>chapter</key>
				<integer>23</integer>
				<key>text</key>
				<string>여호와는 나의 목자시니 내게 부족함이 없으리로다</string>
			</dict>
			<dict>
				<key>book</key>
				<string>시편</string>
				<key>verse</key>
				<integer>2</integer>
				<key>chapter</key>
				<integer>23</integer>
				<key>text</key>
				<string>그가 나를 푸른 풀밭에 누이시며 쉴 만한 물 가로 인도하시는도다</string>
			</dict>
			<dict>
				<key>book</key>
				<string>시편</string>
				<key>verse</key>
				<integer>3</integer>
				<key>chapter</key>
				<integer>23</integer>
				<key>text</key>
				<string>내 영혼을 소생시키시고 자기 이름을 위하여 의의 길로 인도하시는도다</string>
			</dict>
			<dict>
				<key>book</key>
				<string>시편</string>
				<key>verse</key>
				<integer>4</integer>
				<key>chapter</key>
				<integer>23</integer>
				<key>text</key>
				<string>내가 사망의 음침한 골짜기로 다닐지라도 해를 두려워하지 않을 것은 주께서 나와 함께 하심이라 주의 지팡이와 막대기가 나를 안위하시나이다</string>
			</dict>
			<dict>
				<key>book</key>
				<string>시편</string>
				<key>verse</key>
				<integer>5</integer>
				<key>chapter</key>
				<integer>23</integer>
				<key>text</key>
				<string>주께서 내 원수의 목전에서 내게 상을 차려 주시고 기름을 내 머리에 부으셨으니 내 잔이 넘치나이다</string>
			</dict>
			<dict>
				<key>book</key>
				<string>시편</string>
				<key>verse</key>
				<integer>6</integer>
				<key>chapter</key>
				<integer>23</integer>
				<key>text</key>
				<string>내 평생에 선하심과 인자하심이 반드시 나를 따르리니 내가 여호와의 집에 영원히 살리로다</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>신명기 6:4~9</string>
		<key>name</key>
		<string>이스라엘아 들으라</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>신명기</string>
				<key>verse</key>
				<integer>4</integer>
				<key>chapter</key>
				<integer>6</integer>
				<key>text</key>
				<string>이스라엘아 들으라 우리 하나님 여호와는 오직 유일한 여호와이시니</string>
			</dict>
			<dict>
				<key>book</key>
				<string>신명기</string>
				<key>verse</key>
				<integer>5</integer>
				<key>chapter</key>
				<integer>6</integer>
				<key>text</key>
				<string>너는 마음을 다하고 뜻을 다하고 힘을 다하여 네 하나님 여호와를 사랑하라</string>
			</dict>
			<dict>
				<key>book</key>
				<string>신명기</string>
				<key>verse</key>
				<integer>6</integer>
				<key>chapter</key>
				<integer>6</integer>
				<key>text</key>
				<string>오늘 내가 네게 명하는 이 말씀을 너는 마음에 새기고</string>
			</dict>
			<dict>
				<key>book</key>
				<string>신명기</string>
				<key>verse</key>
				<integer>7</integer>
				<key>chapter</key>
				<integer>6</integer>
				<key>text</key>
				<string>네 자녀에게 부지런히 가르치며 집에 앉았을 때에든지 길을 갈 때에든지 누워 있을 때에든지 일어날 때에든지 이 말씀을 강론할 것이며</string>
			</dict>
			<dict>
				<key>book</key>
				<string>신명기</string>
				<key>verse</key>
				<integer>8</integer>
				<key>chapter</key>
				<integer>6</integer>
				<key>text</key>
				<string>너는 또 그것을 네 손목에 매어 기호를 삼으며 네 미간에 붙여 표로 삼고</string>
			</dict>
			<dict>
				<key>book</key>
				<string>신명기</string>
				<key>verse</key>
				<integer>9</integer>
				<key>chapter</key>
				<integer>6</integer>
				<key>text</key>
				<string>또 네 집 문설주와 바깥 문에 기록할지니라</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
