<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>고린도후서 5:17</string>
		<key>name</key>
		<string>새로운 피조물</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>고린도후서</string>
				<key>verse</key>
				<integer>17</integer>
				<key>chapter</key>
				<integer>5</integer>
				<key>text</key>
				<string>그런즉 누구든지 그리스도 안에 있으면 새로운 피조물이라 이전 것은 지나갔으니 보라 새 것이 되었도다</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>갈라디아서 2:20</string>
		<key>name</key>
		<string>중심되신 그리스도</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>갈라디아서</string>
				<key>verse</key>
				<integer>2</integer>
				<key>chapter</key>
				<integer>20</integer>
				<key>text</key>
				<string>내가 그리스도와 함께 십자가에 못 박혔나니 그런즉 이제는 내가 사는 것이 아니요 오직 내 안에 그리스도께서 사시는 것이라 이제 내가 육체 가운데 사는 것은 나를 사랑하사 나를 위하여 자기 자신을 버리신 하나님의 아들을 믿는 믿음 안에서 사는 것이라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>로마서 12:1</string>
		<key>name</key>
		<string>그리스도께 순종</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>로마서</string>
				<key>verse</key>
				<integer>1</integer>
				<key>chapter</key>
				<integer>12</integer>
				<key>text</key>
				<string>그러므로 형제들아 내가 하나님의 모든 자비하심으로 너희를 권하노니 너희 몸을 하나님이 기뻐하시는 거룩한 산 제물로 드리라 이는 너희가 드릴 영적 예배니라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>디모데후서 3:16</string>
		<key>name</key>
		<string>말씀</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>디모데후서</string>
				<key>verse</key>
				<integer>16</integer>
				<key>chapter</key>
				<integer>3</integer>
				<key>text</key>
				<string>모든 성경은 하나님의 감동으로 된 것으로 교훈과 책망과 바르게 함과 의로 교육하기에 유익하니</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>빌립보서 4:6~7</string>
		<key>name</key>
		<string>기도</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>빌립보서</string>
				<key>verse</key>
				<integer>6</integer>
				<key>chapter</key>
				<integer>4</integer>
				<key>text</key>
				<string>아무 것도 염려하지 말고 다만 모든 일에 기도와 간구로, 너희 구할 것을 감사함으로 하나님께 아뢰라</string>
			</dict>
			<dict>
				<key>book</key>
				<string>빌립보서</string>
				<key>verse</key>
				<integer>7</integer>
				<key>chapter</key>
				<integer>4</integer>
				<key>text</key>
				<string>그리하면 모든 지각에 뛰어난 하나님의 평강이 그리스도 예수 안에서 너희 마음과 생각을 지키시리라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>히브리서 10:24~25</string>
		<key>name</key>
		<string>교제</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>히브리서</string>
				<key>verse</key>
				<integer>25</integer>
				<key>chapter</key>
				<integer>10</integer>
				<key>text</key>
				<string>서로 돌아보아 사랑과 선행을 격려하며</string>
			</dict>
			<dict>
				<key>book</key>
				<string>히브리서</string>
				<key>verse</key>
				<integer>26</integer>
				<key>chapter</key>
				<integer>10</integer>
				<key>text</key>
				<string>모이기를 폐하는 어떤 사람들의 습관과 같이 하지 말고 오직 권하여 그 날이 가까움을 볼수록 더욱 그리하자</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>로마서 1:16</string>
		<key>name</key>
		<string>증거</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>로마서</string>
				<key>verse</key>
				<integer>16</integer>
				<key>chapter</key>
				<integer>1</integer>
				<key>text</key>
				<string>내가 복음을 부끄러워하지 아니하노니 이 복음은 모든 믿는 자에게 구원을 주시는 하나님의 능력이 됨이라 먼저는 유대인에게요 그리고 헬라인에게로다 </string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>로마서 3:23~24</string>
		<key>name</key>
		<string>그리스도의 속량</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>로마서</string>
				<key>verse</key>
				<integer>23</integer>
				<key>chapter</key>
				<integer>3</integer>
				<key>text</key>
				<string>모든 사람이 죄를 범하였으매 하나님의 영광에 이르지 못하더니</string>
			</dict>
			<dict>
				<key>book</key>
				<string>로마서</string>
				<key>verse</key>
				<integer>24</integer>
				<key>chapter</key>
				<integer>3</integer>
				<key>text</key>
				<string>그리스도 예수 안에 있는 속량으로 말미암아 하나님의 은혜로 값 없이 의롭다 하심을 얻은 자 되었느니라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>이사야 53:6</string>
		<key>name</key>
		<string>모든 사람이 죄를 범함</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>이사야</string>
				<key>verse</key>
				<integer>6</integer>
				<key>chapter</key>
				<integer>53</integer>
				<key>text</key>
				<string>우리는 다 양 같아서 그릇 행하여 각기 제 길로 갔거늘 여호와께서는 우리 모두의 죄악을 그에게 담당시키셨도다</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>로마서 6:23</string>
		<key>name</key>
		<string>죄의 형벌</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>로마서</string>
				<key>verse</key>
				<integer>23</integer>
				<key>chapter</key>
				<integer>6</integer>
				<key>text</key>
				<string>죄의 삯은 사망이요 하나님의 은사는 그리스도 예수 우리 주 안에 있는 영생이니라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>고린도전서 3:16</string>
		<key>name</key>
		<string>성령</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>고린도전서</string>
				<key>verse</key>
				<integer>16</integer>
				<key>chapter</key>
				<integer>3</integer>
				<key>text</key>
				<string>너희는 너희가 하나님의 성전인 것과 하나님의 성령이 너희 안에 계시는 것을 알지 못하느냐</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>빌립보서 4:13</string>
		<key>name</key>
		<string>능력</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>빌립보서</string>
				<key>verse</key>
				<integer>13</integer>
				<key>chapter</key>
				<integer>4</integer>
				<key>text</key>
				<string>내게 능력 주시는 자 안에서 내가 모든 것을 할 수 있느니라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>이사야 26:3</string>
		<key>name</key>
		<string>평안</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>이사야</string>
				<key>verse</key>
				<integer>3</integer>
				<key>chapter</key>
				<integer>26</integer>
				<key>text</key>
				<string>주께서 심지가 견고한 자를 평강하고 평강하도록 지키시리니 이는 그가 주를 신뢰함이니이다</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>요한복음 13:34~35</string>
		<key>name</key>
		<string>사랑</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>요한복음</string>
				<key>verse</key>
				<integer>34</integer>
				<key>chapter</key>
				<integer>13</integer>
				<key>text</key>
				<string>새 계명을 너희에게 주노니 서로 사랑하라 내가 너희를 사랑한 것 같이 너희도 서로 사랑하라</string>
			</dict>
			<dict>
				<key>book</key>
				<string>요한복음</string>
				<key>verse</key>
				<integer>35</integer>
				<key>chapter</key>
				<integer>13</integer>
				<key>text</key>
				<string>너희가 서로 사랑하면 이로써 모든 사람이 너희가 내 제자인 줄 알리라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>마태복음 6:33</string>
		<key>name</key>
		<string>그리스도를 첫자리에 모심</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>마태복음</string>
				<key>verse</key>
				<integer>33</integer>
				<key>chapter</key>
				<integer>6</integer>
				<key>text</key>
				<string>그런즉 너희는 먼저 그의 나라와 그의 의를 구하라 그리하면 이 모든 것을 너희에게 더하시리라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>요한일서 2:15~16</string>
		<key>name</key>
		<string>죄에서 떠남</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>요한일서</string>
				<key>verse</key>
				<integer>15</integer>
				<key>chapter</key>
				<integer>5</integer>
				<key>text</key>
				<string>이 세상이나 세상에 있는 것들을 사랑하지 말라 누구든지 세상을 사랑하면 아버지의 사랑이 그 안에 있지 아니하니</string>
			</dict>
			<dict>
				<key>book</key>
				<string>요한일서</string>
				<key>verse</key>
				<integer>16</integer>
				<key>chapter</key>
				<integer>5</integer>
				<key>text</key>
				<string>이는 세상에 있는 모든 것이 육신의 정욕과 안목의 정욕과 이생의 자랑이니 다 아버지께로부터 온 것이 아니요 세상으로부터 온 것이라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>시편 1:1~3</string>
		<key>name</key>
		<string>복있는 사람</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>시편</string>
				<key>verse</key>
				<integer>1</integer>
				<key>chapter</key>
				<integer>1</integer>
				<key>text</key>
				<string>복 있는 사람은 악인들의 꾀를 따르지 아니하며 죄인들의 길에 서지 아니하며 오만한 자들의 자리에 앉지 아니하고</string>
			</dict>
			<dict>
				<key>book</key>
				<string>시편</string>
				<key>verse</key>
				<integer>2</integer>
				<key>chapter</key>
				<integer>1</integer>
				<key>text</key>
				<string>오직 여호와의 율법을 즐거워하여 그의 율법을 주야로 묵상하는도다</string>
			</dict>
			<dict>
				<key>book</key>
				<string>시편</string>
				<key>verse</key>
				<integer>3</integer>
				<key>chapter</key>
				<integer>1</integer>
				<key>text</key>
				<string>그는 시냇가에 심은 나무가 철을 따라 열매를 맺으며 그 잎사귀가 마르지 아니함 같으니 그가 하는 모든 일이 다 형통하리로다</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>요한복음 1:1~3</string>
		<key>name</key>
		<string>말씀은 곧 하나님</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>요한복음</string>
				<key>verse</key>
				<integer>1</integer>
				<key>chapter</key>
				<integer>1</integer>
				<key>text</key>
				<string>태초에 말씀이 계시니라 이 말씀이 하나님과 함께 계셨으니 이 말씀은 곧 하나님이시니라</string>
			</dict>
			<dict>
				<key>book</key>
				<string>요한복음</string>
				<key>verse</key>
				<integer>2</integer>
				<key>chapter</key>
				<integer>1</integer>
				<key>text</key>
				<string>그가 태초에 하나님과 함께 계셨고</string>
			</dict>
			<dict>
				<key>book</key>
				<string>요한복음</string>
				<key>verse</key>
				<integer>3</integer>
				<key>chapter</key>
				<integer>1</integer>
				<key>text</key>
				<string>만물이 그로 말미암아 지은 바 되었으니 지은 것이 하나도 그가 없이는 된 것이 없느니라</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>시편 23:1~6</string>
		<key>name</key>
		<string>여호와는 나의 목자</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>시편</string>
				<key>verse</key>
				<integer>1</integer>
				<key>chapter</key>
				<integer>23</integer>
				<key>text</key>
				<string>여호와는 나의 목자시니 내게 부족함이 없으리로다</string>
			</dict>
			<dict>
				<key>book</key>
				<string>시편</string>
				<key>verse</key>
				<integer>2</integer>
				<key>chapter</key>
				<integer>23</integer>
				<key>text</key>
				<string>그가 나를 푸른 풀밭에 누이시며 쉴 만한 물 가로 인도하시는도다</string>
			</dict>
			<dict>
				<key>book</key>
				<string>시편</string>
				<key>verse</key>
				<integer>3</integer>
				<key>chapter</key>
				<integer>23</integer>
				<key>text</key>
				<string>내 영혼을 소생시키시고 자기 이름을 위하여 의의 길로 인도하시는도다</string>
			</dict>
			<dict>
				<key>book</key>
				<string>시편</string>
				<key>verse</key>
				<integer>4</integer>
				<key>chapter</key>
				<integer>23</integer>
				<key>text</key>
				<string>내가 사망의 음침한 골짜기로 다닐지라도 해를 두려워하지 않을 것은 주께서 나와 함께 하심이라 주의 지팡이와 막대기가 나를 안위하시나이다</string>
			</dict>
			<dict>
				<key>book</key>
				<string>시편</string>
				<key>verse</key>
				<integer>5</integer>
				<key>chapter</key>
				<integer>23</integer>
				<key>text</key>
				<string>주께서 내 원수의 목전에서 내게 상을 차려 주시고 기름을 내 머리에 부으셨으니 내 잔이 넘치나이다</string>
			</dict>
			<dict>
				<key>book</key>
				<string>시편</string>
				<key>verse</key>
				<integer>6</integer>
				<key>chapter</key>
				<integer>23</integer>
				<key>text</key>
				<string>내 평생에 선하심과 인자하심이 반드시 나를 따르리니 내가 여호와의 집에 영원히 살리로다</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>신명기 6:4~9</string>
		<key>name</key>
		<string>이스라엘아 들으라</string>
		<key>messages</key>
		<array>
			<dict>
				<key>book</key>
				<string>신명기</string>
				<key>verse</key>
				<integer>4</integer>
				<key>chapter</key>
				<integer>6</integer>
				<key>text</key>
				<string>이스라엘아 들으라 우리 하나님 여호와는 오직 유일한 여호와이시니</string>
			</dict>
			<dict>
				<key>book</key>
				<string>신명기</string>
				<key>verse</key>
				<integer>5</integer>
				<key>chapter</key>
				<integer>6</integer>
				<key>text</key>
				<string>너는 마음을 다하고 뜻을 다하고 힘을 다하여 네 하나님 여호와를 사랑하라</string>
			</dict>
			<dict>
				<key>book</key>
				<string>신명기</string>
				<key>verse</key>
				<integer>6</integer>
				<key>chapter</key>
				<integer>6</integer>
				<key>text</key>
				<string>오늘 내가 네게 명하는 이 말씀을 너는 마음에 새기고</string>
			</dict>
			<dict>
				<key>book</key>
				<string>신명기</string>
				<key>verse</key>
				<integer>7</integer>
				<key>chapter</key>
				<integer>6</integer>
				<key>text</key>
				<string>네 자녀에게 부지런히 가르치며 집에 앉았을 때에든지 길을 갈 때에든지 누워 있을 때에든지 일어날 때에든지 이 말씀을 강론할 것이며</string>
			</dict>
			<dict>
				<key>book</key>
				<string>신명기</string>
				<key>verse</key>
				<integer>8</integer>
				<key>chapter</key>
				<integer>6</integer>
				<key>text</key>
				<string>너는 또 그것을 네 손목에 매어 기호를 삼으며 네 미간에 붙여 표로 삼고</string>
			</dict>
			<dict>
				<key>book</key>
				<string>신명기</string>
				<key>verse</key>
				<integer>9</integer>
				<key>chapter</key>
				<integer>6</integer>
				<key>text</key>
				<string>또 네 집 문설주와 바깥 문에 기록할지니라</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
